.box{
    width:800px;
    background-color: #CACED1;
    margin-bottom: 30px;
    padding:30px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 3px #324359;
    -webkit-box-shadow: inset 0 0 3px #324359;
    box-shadow:         inset 0 0 3px #324359;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 48px;
    padding: 36px;
}
.job{
    padding: 3px;
}
/* .job-name{
    font-weight: bolder;
    font-size:15px;
} */
.sub-header{
    font-size:18px;
    font-weight: bolder;
}
.title-header{
    font-size:14px;
}
.job-contact, .job-program{
    margin-bottom: 15px;
}
.job{
    font-size: 12px;
}